# Ignore todos os arquivos de texto
*.txt

# Ignore todos os arquivos compactados
*.zip 

# Ignore arquivos relacionados às chaves de API
*.env

# Ignore todos os arquivos relacionado a banco de dados
*.bd

# Ignore todos os arquivos de backup
*.bkp
